html{
	overflow-x: hidden;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow-x: hidden;
}
main {
	flex: 1;
}
.logo{
	min-height: 64px;
}
.user-card{
	height: 256px;
	background-size: cover !important;
}
.nav-pills .nav-link.active{
	background-color: #c80a12 !important;
}
.nav-link{
	color: #c80a12;
}
.side-bar{
	padding: 0.5rem 0 !important;
}
.img-shadow{
	filter: drop-shadow(0 0rem .5rem rgba(0,0,0,.50));
}
.text-shadow{
	text-shadow: 0 0rem .5rem rgba(0,0,0,.50);
}
.form-text{
	text-shadow: 0 0 0.25rem rgba(0,0,0,0.5);
}