html{
	overflow-x: hidden;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow-x: hidden;
}
.logo{
	height: 64px;
}
main {
	flex: 1;
}
.shadow-cus{
	box-shadow: 0 0.64rem 1rem rgba(0,0,0,0.24)!important;
}
.img-shadow{
	filter: drop-shadow(0 0.2rem .5rem rgba(0,0,0,.64));
}
.text-shadow{
	text-shadow: 0 0.2rem .36rem rgba(0,0,0,.72);
}
.qr{
	height: 20%;
	bottom:10%;
	right:10%;
	max-height:96px;
	max-width:96px;
	border: 2px rgba(255,255,255,1);
}
.bgimg{
	-webkit-filter: blur(2px);
	filter:blur(2px);
	max-height: 420px;
	min-height: 288px;
	transition: all 0.6s ease-in-out;
	object-fit: cover;
}
.bgimg-nb{
	-webkit-filter: blur(0px) !important;
	filter:blur(0px) !important;
}