html{
	overflow-x: hidden;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow-x: hidden;
}
main {
	flex: 1;
}
.img-shadow{
	filter: drop-shadow(0 0.1rem .5rem rgba(0,0,0,.50));
}
.text-shadow{
	text-shadow: 0 0.1rem .5rem rgba(0,0,0,.50);
}
.bgimg{
	-webkit-filter: blur(2px);
	filter:blur(2px);
	max-height: 420px;
	min-height: 288px;
	transition: all 0.6s ease-in-out;
	object-fit: cover;
}
@media (max-width:981px){
	.bgimg{
		max-height: 512px !important;
	}
}
.bgimg-nb{
	-webkit-filter: blur(0px) !important;
	filter:blur(0px) !important;
}