RewriteEngine On
RewriteBase /

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^s/([0-9]+)$ space.php?uid=$1&%1

RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^login$ login.php

ErrorDocument 404 /404.html
ErrorDocument 403 /403.html